<h2>Welcome to Booking Cinema</h2>
<p>This is the landing page.</p>

<p>
    <a asp-controller="Account" asp-action="Login">Login</a> |
    <a asp-controller="Account" asp-action="Register">Register</a>
</p>
